#include<iostream>
#include<iomanip>
#include<conio.h>

using namespace std;

main()
{
    double a ,b ;

    cout<<setw(20)<<"Enter two number ";
    cin>>a>>b;

    cout<<noshowpoint;

    cout<<setw(20)<<"Two number addition is = "<<a+b<<endl;
    cout<<showpoint<<fixed<<setprecision(2);

    cout<<setw(20)<<"Two number subtraction is = "<<a-b<<endl;

    return 0;





}
